.goalListCardContainer {
  font-family: "New Tegomin", serif;
  max-width: 1000px;
  margin: 0 auto;
}

.goalListCard {
  background: #ded0b6;
  filter: drop-shadow(9px 9px 0px #000000);
  font-family: "New Tegomin", serif;
  margin: 5px auto;
}

.goalListCardHeader {
  align-items: center;
  border-bottom: dashed 1px black;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  position: relative;
}

.goalListCardHeader h2 {
  align-self: center;
  display: block;
  font-size: 1.5em;
}

.goalListCardHeader button {
  font-size: 0.8em;
  position: absolute;
  right: 10px;
}

.goalListCardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}

.goalListCardCategory {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.goalListCardBodyGoals {
  text-align: center;
  width: 60%;
}

.goalListCardBodyForm {
  display: flex;
  flex-direction: row;
}

.goalListCardFooter {
  background: #b2a59b;
  display: flex;
  flex-direction: row;
  height: 25px;
  justify-content: space-between;
  margin-top: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
}

@media (max-width: 580px) {
  .goalListCardBody {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .goalListCardCategory {
    width: 100%;
  }
  .goalListCardBodyGoals {
    width: 100%;
  }
}
