.goalListCard {
  background-color: #f6df84;
  cursor: pointer;
  margin: 8px auto;
  transition: filter 0.2s ease-in-out;
  width: 80%;
}

.goalListCard:hover {
  filter: drop-shadow(5px 5px 5px #746433);
}

.goalListCardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}

.goalListCardCategory {
  width: 30%;
}

.goalListCardBodyGoals {
  text-align: center;
  width: 60%;
}

.goalListCardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
