.individualGoal {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
}

.individualGoal button {
  font-size: 0.8em;
  height: 40px;
  margin: 5px 8px 5px 0;
  padding: 0px;
  width: 40px;
}

.stickerSelectRow {
  display: flex;
  flex-direction: row;
}

.stickerSelectRow button {
  margin: 1px;
}
